@mixin pad{
	@media(max-width:768px){
		@content;
	}
}

@mixin mobile{
	@media(max-width:767px){
		@content;
	}
}


/* 字型網址要放在最上面 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");

body {
	font-family: "Roboto", "Noto Sans TC", sans-serif;
	line-height: 1.5;
}

/* components */
.navbar {
	padding: 16px 0;
    
	/* 平板 */
	@media (max-width: 768px) {
		padding-bottom: 0;
	}
}

.navbar-wrap {
	display: flex;
	justify-content: space-between;

 	/* 平板 */
	@include pad{
		flex-direction: column;
		/* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
}

.navbar-logo{
	width: 80px;

	/* 平板 */
	@include pad{
		margin: 0 0 16px 16px;
	}
}

.navbar-nav {
	display: flex;
	align-items: center;

	/* 平板 */
	@include pad{
		flex-wrap: wrap;
	}
}

.navbar-item {
	height: 100%;
    
	/* 平板 */
	@include pad{
		width: 50%;
		margin-right: 0px;
		border: 1px solid #ffffff;
	}
}

.navbar-link {
	height:100%;
	display: block;
	padding: 8px 32px;
	font-size: 20px;
	color: #FFFFFF;
	/*background: #69F0AE;*/

	/* 平板 */
	@include pad{
		font-size: 16px;
		text-align: center;
		padding: 12px 0;
	}
  	
	&:hover{
		opacity: 0.7;
	}
}

// 最尾項的 item 右推歸零
.navbar-item:last-child .navbar-link {
	padding-right: 0;
  }

.page-title-h2 {
	border-left: 8px solid #9F1213;
	font-size: 48px;
	font-weight: bold;
	padding-left: 16px;
}