.blog-sub-nav {
    background-color: #650300;

    li {
        width: 100px;
        margin-right: 48px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    li a {
        font-size: 20px;
        color: #ffffff;
    }

    @media (max-width: 768px) {

    }
       
    @media (max-width: 576px) {
        display: none;
    }
}


.blog {
    padding-top: 96px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
       
    @media (max-width: 576px) {
        padding-top: 40px;
        padding-bottom: 64px;
    }

    h2 {
        border-left: 8px solid #9F1213;
        font-size: 48px;
        font-weight: bold;
        padding-left: 16px;


    }

    .blog-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        @media (max-width: 768px) {
            flex-direction: row;
            margin-bottom: 24px;
        }
           
        @media (max-width: 576px) {
            flex-direction: column;
            margin-bottom: 24px;
        }
    }

    .blog-photo {
        width:50%;
        margin-right: 24px;

        img {
            width: 100%;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-right: 24px;
        }
           
        @media (max-width: 576px) {
            width: 100%;
            margin-right: 0;
        }
    }

    .blog-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
           
        @media (max-width: 576px) {
            width: 100%;
        }

        h3 {
            color: #650300;
            font-size: 32px;

            @media (max-width: 768px) {
                font-size: 24px;
            }
               
            @media (max-width: 576px) {
                font-size: 24px;
            }
        }

        h4 {
            color: #000000;
            font-size: 24px;
            font-weight: medium;
            @media (max-width: 768px) {
                font-size: 16px;
            }
               
            @media (max-width: 576px) {
                font-size: 16px;
            }
        }

        .date {
            font-size: 16px;
            color: #000000;
        }

        p {
            color: #555555;
            font-size: 20px;
            margin-top: 16px;
            @media (max-width: 768px) {
                font-size: 16px;
                margin-top: 4px;

                height: 144px;
                overflow:hidden;
                text-overflow:ellipsis;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }

        .more-link {
            color: #650300;
            font-size: 36px;
            font-weight: 900;

            @media (max-width: 768px) {
                display: none;
            }

            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}

.blog-detail {
    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }

    p{
        color:#555555;
    }
}

.breadcrumb-item {
	&.active {
		color:#aa0601;
	}
	a {
		color:#000000;
	}

	a::after {
		content: ' / ';
	}
	
}

.tags-title {
	font-size: 32px;
    color:#aa0601;
    font-weight: bold;
}

.tags {
	font-size: 24px;
	color:#aa0601;
	font-weight: bold;
}


.material-symbols-outlined.red {
   font-size: 38px;
   font-weight: bold;
    color:#aa0601;
}
