.banner {
	width: 100%;
	height: 787px;
	background-image: url("../assets/images/home-header.png");
	background-position: center; 
	background-size: cover; 
	
	h2 {
		font-size: 36px;
		color: #650300;
		padding-top: 296px;
	}

	h3 {
		font-size: 64px;
		font-weight: bold;
		color: #650300;
		margin-bottom: 4px;
	}

	.buy-link {
		background: #AA0601;
		font-size: 20px;
		color:#FFFFFF;
		padding: 6px 12px;
	}
	   
	@media (max-width: 768px) {
		height: 787px;
		h2 {
			font-size: 36px;
			padding-top: 296px;
		}

		h3 {
			font-size: 64px;
		}
	}

	@media (max-width: 576px) {
		background-image: url("../assets/images/home-header-sm.png");
		height: 396px;

		h2 {
			font-size: 16px;
			padding-top: 144px;
		}
		h3 {
			font-size: 24px;
		}
	}
}

.home-section2 {
	padding: 80px 0;
	
	.title {
		font-size: 48px;
		margin-bottom: 48px;
		font-weight: bold; // 700

		// 手機
		@media (max-width: 576px) {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	h4 {
		font-size: 24px;
		font-weight: bold;
		color:#650300;
		margin-top: 24px;
		margin-bottom: 8px;
	}

	p {
		font-size: 16px;
		color:#000000;
	}
}


.home-section3 {
	padding-top: 80px;
	padding-bottom: 80px;

	.title {
		font-size: 48px;
		margin-bottom: 48px;
		font-weight: bold; // 700

		// 手機
		@media (max-width: 576px) {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	h3 {
		font-size: 48px;
		font-weight: bold;
		color:#AA0601;
		font-style:italic;	
	}
}

.home-section4 {
	background-image: url("../assets/images/index-bg.png");

	padding-top: 80px;
	padding-bottom: 88px;

	.title {
		font-size: 48px;
		margin-bottom: 48px;
		font-weight: bold; // 700

		// 手機
		@media (max-width: 576px) {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	h4 {
		font-size: 48px;
		font-weight: bold;
		font-style: italic;
		color:#650300;
		background-color: #ffffff;
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
	}

	.box {
		border: 1px solid #DEE2E6;
		/*border-radius: 4px;*/
	}

	// 平板
	@media (max-width: 768px) {
		.col-md-12 {
			width: 100%;
			margin-bottom: 24px;
		}
	}
}

.home-section5 {
	padding: 80px 0;

	.title {
		font-size: 48px;
		margin-bottom: 48px;
		font-weight: bold; // 700

		// 手機
		@media (max-width: 576px) {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	.box {
		box-shadow: 0px 2px 6px #00000029;
		border: 1px solid #DEE2E6;
		border-radius: 4px;
		max-width: 100%;
		height: 100%;
    	vertical-align: middle;
	}


	span.date {
		font-size: 14px;
		color: #707070;
	}

	.card-text {
		display: flex;
		flex-wrap: wrap;
		padding: 16px;
	}

	// 平板
	@media (max-width: 768px) {
		.col-md-6 {
			margin-bottom: 16px;
		}
	}
}

.contact {
	padding: 80px 0;
	
	// 手機
	@media (max-width: 576px) {
		padding: 40px 0;
	}

	.title {
		font-size: 48px;
		margin-bottom: 48px;
		font-weight: bold; // 700

		// 手機
		@media (max-width: 576px) {
			font-size: 24px;
			margin-bottom: 24px;
		}
	}

	.contact-conetnt {
		font-size: 20px;
		// 平板
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	.input-style {
		background-color: transparent;
		border: 1px solid #000000;
		width: 100%;
		padding:6px 12px;
	}

	.feedback {
		resize: none;
		min-height: 136px;
	}

	.form-checkbox {
		margin: 4px 4px 0 0;
		width: 20px;
		height: 20px;
		background: #000;
		accent-color: #aa0601;
	}

	/* === */
	.btn {
		padding: 16px;
		text-align: center;
	}

	.form-btn {
		max-width: 416px;
	}

	.form-btn:hover {
		background-color: #650300;
	}
}

