.banner {
	width: 100%;
	height: 787px;
	background-image: url("../assets/images/home-header.png");
	background-position: center; 
	background-size: cover; 
	
	h2 {
		font-size: 36px;
		color: #650300;
		padding-top: 296px;
	}

	h3 {
		font-size: 64px;
		font-weight: bold;
		color: #650300;
		margin-bottom: 4px;

	}

	.buy-link {
		background: #AA0601;
		font-size: 20px;
		color:#FFFFFF;
		padding: 6px 12px;
	}
	   
	@media (max-width: 768px) {
		height: 787px;
		h2 {
			font-size: 36px;
			padding-top: 296px;
		}

		h3 {
			font-size: 64px;
		}
	}

	@media (max-width: 576px) {
		background-image: url("../assets/images/home-header-sm.png");
		height: 396px;

		h2 {
			font-size: 16px;
			padding-top: 144px;
		}
		h3 {
			font-size: 24px;
		}
	}
}

.home-section2 {
	background-color: #fbf2f2;
	padding-top: 80px;
	padding-bottom: 80px;

	.card {
		display: flex;
		flex-wrap: wrap;
	}
	
	.card-item {
		width:23%;
		margin-right: 24px;	
	}

	h3 {
		font-size: 48px;
		font-weight: bold;
		color:#650300;
		text-align: center;
		margin-bottom: 48px;
	}

	h4 {
		font-size: 24px;
		font-weight: bold;
		color:#650300;
		margin-top: 24px;
		margin-bottom: 8px;
	}

	p {
		font-size: 16px;
		color:#000000;
	}

	@media (max-width: 768px) {
		padding-top: 80px;
		padding-bottom: 80px;

		.card-item {
			width: 45%;
			margin-right: 24px;	
			margin-bottom: 60px;
		}

		h3 {
			font-size: 48px;
		}
	}
	   
	@media (max-width: 576px) {
		padding-top: 40px;
		padding-bottom: 40px;

		.card-item {
			width: 100%;
			margin-bottom: 32px;
			margin-right: 0px;
		}

		h3 {
			font-size: 24px;
		}
	}
}


.home-section3 {
	padding-top: 80px;
	padding-bottom: 80px;

	h3 {
		font-size: 48px;
		font-weight: bold;
		color:#650300;
		margin-bottom: 48px;
	}

	h4 {
		font-size: 48px;
		font-weight: bold;
		color:#AA0601;
		font-style:italic;	
	}

	.card {
		display: flex;
		flex-wrap: wrap;
	}
	
	.card-item {
		width:31%;
		margin-right: 24px;
	}

	@media (max-width: 768px) {
		padding-top: 80px;
		padding-bottom: 80px;
		
		.card-item {
			width:100%;
			margin-right: 24px;
			margin-bottom: 24px;
		}
	}
	   
	@media (max-width: 576px) {
		padding-top: 40px;
		padding-bottom: 40px;
		
		.card-item {
			width:100%;
			margin-right: 0px;
			margin-bottom: 24px;
		}
	}
}

.home-section4 {
	background-image: url("../assets/images/index-bg.png");

	padding-top: 80px;
	padding-bottom: 88px;

	h3 {
		font-size: 48px;
		font-weight: bold;
		color:#ffffff;
		margin-bottom: 48px;
	}

	h4 {
		font-size: 48px;
		font-weight: bold;
		font-style: italic;
		color:#650300;
		background-color: #ffffff;
		padding-top: 8px;
		padding-bottom: 8px;
		text-align: center;
	}

	.card {
		display: flex;
		flex-wrap: wrap;
	}
	
	.card-item {
		width:50%;
		border: 1px solid #DEE2E6;
		/*border-radius: 4px;*/
	}

	@media (max-width: 768px) {
		padding-top: 80px;
		padding-bottom: 80px;

		h3 {
			font-size: 48px;
		}

		.card-item {
			width:100%;
			margin-right: 0px;
		}
	}
	   
	@media (max-width: 576px) {
		padding-top: 40px;
		padding-bottom: 40px;

		h3 {
			font-size: 24px;
		}

		.card-item {
			width:100%;
			margin-right: 0px;
		}
	}
}

.home-section5 {
	padding-top: 80px;
	padding-bottom: 80px;

	h3 {
		font-size: 48px;
		font-weight: bold;
		color:#650300;
		margin-bottom: 48px;
	}

	span.date {
		font-size: 14px;
		color: #707070;
	}

    .card {
        display: flex;
        flex-wrap: wrap;
	}

	.card-item {
        width:23%;
		box-shadow: 0px 2px 6px #00000029;
		border: 1px solid #DEE2E6;
		border-radius: 4px;
		margin-right: 24px;
    }

	@media (max-width: 768px) {
		padding-top: 80px;
		padding-bottom: 80px;
		.card-item {
			width:48%;
			margin-right: 24px;
		}
	}
	   
	@media (max-width: 576px) {
		padding-top: 40px;
		padding-bottom: 40px;
		.card-item {
			width:99%;
			margin-right: 24px;
		}
	}

	.card-text {
		display: flex;
		flex-wrap: wrap;
		padding: 16px;
	}
}

.home-section6 {
	background-color: #fbf2f2;
	padding-top: 80px;
	padding-bottom: 80px;

	h3 {
		margin-bottom: 48px;
		font-size: 48px;
		color:#650300;
	}

	form {
		max-width: 636px;
		margin: 0 auto;

		p {
			font-size: 20px;
		}

		.name{
			border: 1px solid #000000;
			width: 100%;
			margin-top: 8px;
			padding:6px 12px;
		}

		.tel {
			border: 1px solid #000000;
			width: 100%;
			margin-top: 8px;
			padding-left: 12px;
		}

		.email {
			border: 1px solid #000000;
			width: 100%;
			margin-top: 8px;
			padding-left: 12px;
		}

		.feedback{
			border: 1px solid #000000;
			width: 100%;
			height: 136px;
			margin-top: 8px;
			padding:6px 12px;
		}

		.checkbox {
			/*background:url("../assets/images/ic_check_box_outline_blank_24px.png") no-repeat;
			height: 24px;
			width: 24px;
			background-size: 100%;*/
			background: transparent url('../assets/images/ic_check_box_outline_blank_24px.png') 0% 0% no-repeat padding-box;
		}

		.btn-submit {
			width: 336px;
			padding:16px;
			background: #aa0601;
			color: #FFFFFF;
			font-style: bold;
			text-decoration: none;
			display: block;
		}

		@media (max-width: 768px) {
			h3 {font-size: 48px;}
		}
		   
		@media (max-width: 576px) {
			h3 {font-size: 24px;}
			.btn-submit {
				width: 100%;
			}
		}
	}
}