.product-category-bar {

    .product-category-bar-nav {
        display: flex;
        align-items: center;

        .product-category-bar-item {
            border: 1px solid #DCDCDC;
            padding: 24px 150px;  
            
        }
    
        .product-category-bar-link {
            display: block;
            color: #000000;
            font-size: 32px;
            font-weight: medium;  
        }

        .active {
            padding-bottom: 24px;
            border-bottom: 7px solid #aa0601;
        }
    }
}

.product {
     h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }

    .product-key {
        font-size: 24px;
        color: #000000;
    }

    .product-price {
        font-size: 24px;
        color: #aa0601;
    }

    .product-color1 {
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius: 4px;
    }

    .product-color2 {
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius: 4px;
    }
}