.qna {
    h2 {
        border-left: 8px solid #9F1213;
        font-size: 48px;
        font-weight: bold;
        padding-left: 16px;
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }
}