@mixin pad {
	@media(max-width:768px){
		@content;
	}
}

@mixin mobile {
	@media(max-width:576px){
		@content;
	}
}

.store {
    .main {
        // store-introduction 及 store-map 顯示方式:
        display: flex;
        
        // 在 "PC" 顯示 "左右-row" 顯示兩個內層區塊
        flex-direction: row;
        justify-content: space-between; // 平均分配寬度

        // 在 "平板" 及 "手機" 顯示 "上下-column" 顯示兩個內層區塊
        @include pad {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    // 商店介紹區塊 圖片 及 文字
    .store-introduction {
        // 在 PC 載具上寬度為 50% 內容為上下排列(column) 顯示兩個內層區塊
        width: 40.6%;  // width: 40.6%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        // 在 平板載具上寬度為 100%  內容為 左右排列(row) 顯示兩個內層區塊
        @include pad {
            width: 100%;  
            flex-direction: row;
            margin-bottom: 24px;
        }

        // 在 平板載具上寬度為 100%  內容為 上下排列(column) 顯示兩個內層區塊
        @include mobile {
            width: 100%;
            flex-direction: column;
            margin-bottom: 24px;
        }   

        .store-photo {
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
  
            // 平板
           @include pad {
              // width: 64.1%;   // 64.1
               width: 49%;
            }
    
            // 在 "手機" 顯示 "上下 column" 顯示兩個內層區塊
            @include mobile {
              width: 100%;
            } 
        }

        .store-info {
            width: 100%;
            
             // 平板
            @include pad {
              // width: 64.1%;  //64.1
               width: 49%;
            }
            // 在 "手機" 顯示 "上下 column" 顯示兩個內層區塊
            @include mobile {
                width: 100%;
            } 

            p {
                font-size: 20px;
            }
        }
    }

    .store-map {
        width: 57.6%;
        
        img {
            object-fit: cover;
            object-position:center;
            width: 100%;
            height: 100%;
        }

        @include pad{
            width: 100%;
            flex-direction: row; 
        }   

        @include mobile {
            width: 100%;
        } 
    }

    h3 {
        font-size: 24px;
        color:#212529;
    }

	.select-style {
		background-color: transparent;
		border: 1px solid #000000;
		width: 100%;
		padding:6px 12px;
	}

    select.region {
        width: 304px;
        font-size: 18px;
        
        @include pad{
            width: 304px;
            font-size: 18px;
        }   

         @include mobile{
            width: 276px;
            font-size: 18px;
         } 
    }

    .store-detail-link {
        display: block;
        background-color: black;
        text-align: center;
        font-size: 19px;
        padding-top: 16px;
        padding-bottom: 16px;
        color: #FFFFFF;
    } 
}