.store {
    .label-text {
        font-size: 24px;
    }

    .store-region {
        width: 304px;
        background-color: #ffffff;
        border: 1px solid #CED4DA;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        color:#495057;
    }

    .store-station {
        width: 304px;
        background-color: #ffffff;
        border: 1px solid #CED4DA;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        color:#495057;
    }

    h3 {
        font-size: 24px;
        border: 1px solid #00000020;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        color:#212529;
    }

    .store-text {
        border: 1px solid #00000020;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
        color:#212529;
    }

    .store-link-a {
        display: block;
        background-color: black;
        text-align: center;
        font-size: 19px;
        padding-top: 16px;
        padding-bottom: 16px;
        color: #FFFFFF;
    } 

    	// 平板
	@media (max-width: 768px) {
		.col-md-12 {
			width: 100%;
			margin-bottom: 24px;
		}
	}
}