<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="blog-sub-nav">
      <div class="container flex justify-between align-center">
        <ul class="flex">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <img src="../assets/images/search_white_24dp.svg" width="30" alt="search" />
      </div>
    </div>

    <div class="container">
      <ol class="flex">
        <li class="breadcrumb-item"><a href="#">首頁</a></li>
        <li class="breadcrumb-item"><a href="#">部落格</a></li>
        <li class="breadcrumb-item"><a href="#">特別企劃</a></li>
        <li class="breadcrumb-item active">情人特別企劃</li>
      </ol>
      <span class="tags mr-4">#special</span>
      <span class="tags">#event</span>
    </div>

    <div class="blog-detail mt-2">
      <div class="container flex">
        <div class="w-856 mr-6">
          <h2>情人特別企劃</h2>
          <h3>2020 Valentine’s Special</h3>
          <img src="../assets/images/blogpage-1.png" alt="blog-1" />
          <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="../assets/images/blogpage-2.png" alt="blog-1" />
          <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="../assets/images/blogpage-3.png" alt="blog-1" />
          <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
          <img src="../assets/images/blogpage-4.png" alt="blog-1" />
          <p class="mb-10">2/14(五)-2/20(日) <br/>
            至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br/> 
            期間優惠還有~~持他牌鏡框更換鏡片<br/> 
            薄型非球面鏡片折300元<br/> 
            濾藍光鏡片折500元<br/> 
            快快帶上另一半<br/> 
            讓彼此每一次睜開眼，都被愛的視線包圍!</p>
        </div>
        <div class="blog-tags">
          
          <div class="flex align-center"><span class="material-symbols-outlined red mr-3">label</span><span class="tags-title">TAGS</span></div>
          <span class="tags mr-6">#special</span>
          <span class="tags">#sale</span><br />
          <span class="tags mr-6">#new_item</span>
          <span class="tags">#interview</span><br />
          <span class="tags mr-6">#trivia</span>
          <span class="tags">#news</span><br />
          <span class="tags">#event</span>
        </div>
      </div>
    </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
