<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 - 眼鏡官網.v3</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container item-right">
        <h2>Promise-Desert 2020 早春系列</h2>
        <h3>看得清，才能看得遠</h3>
        <a class="buy-link" href="#">立即購買</a>
      </div>
    </div>

    <div class="home-section2">
      <div class="container">
        <h3>用專業的心，做專業的事</h3>
        <ul class="card">
          <li class="card-item">
            <div class="item-center">
              <img src="../assets/images/home-section2-1.png" width="83" alt="img" />
              <h4>單一價格</h4>
            </div>
            <div class="item-left">
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
          </li>
          <li class="card-item">
            <div class="item-center">
              <img src="../assets/images/home-section2-2.png" width="83" alt="img" />
            <h4>20 分鐘即可取件</h4>
            </div>
            <div class="item-left">
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </div>
          </li>
          <li class="card-item">
            <div class="item-center">
              <img src="../assets/images/home-section2-3.png" width="83" alt="img" />
            <h4>安心售後服務</h4>
          </div>
          <div class="item-left">
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
          </li>
          <li class="card-item">
            <div class="item-center">
              <img src="../assets/images/home-sectioin2-4.png" width="83" alt="img" />
              <h4>關於鏡片</h4>
            </div>
            <div class="item-left">
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-section3">
        <div class="container item-center">
          <h3 class="item-center">經典系列鏡框</h3>
        <ul class="card">
          <li class="card-item">
            <img src="../assets/images/home-section3-1.png" alt="OPTICAL" />
            <h4>OPTICAL</h4>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" />
            <h4>SUNGLASSES</h4>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" />
            <h4>FUNCTIONAL</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-section4">
      <div class="container">
        <h3 class="item-center">聯名設計鏡框</h3>
        <ul class="card">
          <li class="card-item">
            <img src="../assets/images/home-section4-1.png" alt="img" />
            <h4>DOUBLE A+</h4>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section4-2.png" alt="img" />
            <h4>YOUTH</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-section5">
      <div class="container">
        <h3 class="item-center">顧客推薦</h3>
        <ul class="card">
          <li class="card-item">
            <img src="../assets/images/home-section5-1.png" alt="img" />
            <div class="card-text">
              <div>
                <h4>Jessy</h4>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <p class="pt-18"><span class="date">2021/06/20</span></p>
            </div>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section5-2.png" alt="img" />
            <div class="card-text">
              <div>
              <h4>凱倫</h4>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <p class="pt-18"><span class="date">2021/04/18</span></p>
          </div>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section5-3.png" alt="img" />
            <div class="card-text">
              <div>
                <h4>悠悠</h4>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <p class="pt-18"><span class="date">2020/12/25</span></p>
            </div>
          </li>
          <li class="card-item">
            <img src="../assets/images/home-section5-4.png" alt="img" />
            <div class="card-text">
              <div>
                <h4>Kyuan</h4>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <p class="pt-18"><span class="date">2020/10/31</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="home-section6">
      <div class="container">
        <h3 class="item-center">聯絡我們</h3>
        <form action="" class="form">
          <div class="mb-6"><p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p></div>
          <div class="mb-6"><label for="name">姓名</label><br/><input id="name" class="name" type="text" placeholder="陳小明" /></div>
          <div class="mb-6"><label for="tel">連絡電話</label><br/><input id="tel" class="tel" type="text" placeholder="0912-345-678" /></div>
          <div class="mb-6"><label for="email">電子郵件</label><br/><input id="email" class="email" type="text" placeholder="example@email.com" /></div>
          <div class="mb-6"><label for="feedback">意見反應</label><br/><textarea id="feedback" class="feedback" type="text" placeholder="example@email.com"></textarea></div>
          <div class="mb-6"><label for="checkbox"><input type="checkbox" class="checkbox mr-1" value=""/>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label></div>
          <div class="item-center mt-12"><a class="btn-submit" href="#">確認送出</a></div>
        </form>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
