<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 - 眼鏡官網.v3</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="product-category-bar">
      <div class="container">
          <ul class="product-category-bar-nav">
            <li class="product-category-bar-item"><a class="product-category-bar-link" href="product01.html">OPTICAL</a></li>
            <li class="product-category-bar-item active"><a class="product-category-bar-link" href="product02.html">SUNGLASSES</a></li>
            <li class="product-category-bar-item"><a class="product-category-bar-link" href="#">FUNCTIONAL</a></li>
          </ul>
      </div>
  </div>

    <div class="row flex-wrap mb-20">
      <img src="../assets/images/product-header-1.png" width="50%" alt="" />
      <img src="../assets/images/product-header-2.png" width="50%" alt="" />
    </div>
    <div class="product mb-20">
      <div class="container text-center">
        <h2 class="text-center">2020 NEW COLLECTION</h2>
        <h3 class="text-center mb-8">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="row flex-wrap">
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-7.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>
            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-8.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>

            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-9.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>

            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-10.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>
            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-11.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>
            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
          <li class="col-4 col-md-6 col-sm-12 px-3">
            <img src="../assets/images/product-12.png" alt="product" />
            <div class="flex justify-content-between">
              <span class="product-key">BJ41600S</span>
              <span class="product-price">NTD3,490</span>
            </div>
            <div class="flex">
              <a href="#" class="product-color1 mr-2"></a>
              <a href="#" class="product-color2"></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="">
        <ul class="pagination-bar-nav">
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">上一頁</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">1</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link active" href="#">2</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">3</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">4</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">5</a></li>
          <li class="pagination-bar-item"><a class="pagination-bar-link" href="#">下一頁</a></li>
        </ul>        
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
