<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 - 眼鏡官網.v3</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="store pt-20 pb-20">
      <div class="container">
        <h2 class="page-title-h2 mb-8">門市據點</h2>
        <form class="col-4 col-md-6 col-sm-12 mb-10">
          <div class="form-group row">
            <label class="col-4 col-md-3 col-sm-2 col-form-label mr-4" for="region">選擇分站</label>
            <div class="col-12 col-md-10 col-sm-8">
              <select id="region" class="form-control"><option value="台北中山旗艦店">台北中山旗艦店</option></select>
              </div>
          </div>
        </form>

        <!--最外層-->
        <div class="main mb-20">
          <!-- 左邊區塊 -->
          <div class="store-introduction">
              <!-- 圖片 -->
              <div class="store-photo">
                <img src="../assets/images/storepage-1.png" alt="store" />
              </div>
              <div class="store-info">
                <div class="box pl-6 pt-2 pb-2">
                  <h3>台北中山旗艦店</h3>
                </div>
                <div class="box pl-6 pt-4 pb-4">
                  <div class="flex mb-2"><span class="material-symbols-outlined mr-3">call</span><p class="mr-6">電話：(02)000-1234</p></div>
                  <div class="flex mb-2"><span class="material-symbols-outlined mr-3">schedule</span><p class="mr-6">營業時間：10:00-21:00</p></div>
                  <div class="flex"><span class="material-symbols-outlined mr-3">location_on</span><p class="mr-6">地址：台北市中山區南京東路25巷2-1號</p></div>
                </div>
              </div>
          </div>
          <!-- 右邊區塊地圖 -->
          <div class="store-map">
            <img src="../assets/images/螢幕快照 2020-02-13 16.35.44@2x.png" alt="MAP"/>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
