<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 - 眼鏡官網.v3</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="store pt-24 pb-20">
      <div class="container">
        <h2 class="page-title-h2 mb-8">門市據點</h2>
        <form>
          <label class="label-text">選擇地區<select class="store-region ml-7"><option value="台北市">台北市</option></select></label>
        </form>
          <ul class="flex flex-wrap mt-10">
            <li class="mr-6 mb-8">
              <img src="../assets/images/store-1.png" width="416" alt="store-1" />
              <h3>台北中山旗艦店</h3>
              <div class="store-text">
                <p><span class="material-symbols-outlined mr-3">call</span>電話：(02)000-1234</p>
                <p><span class="material-symbols-outlined mr-3">schedule</span>營業時間：10:00-21:00</p>
                <p><span class="material-symbols-outlined mr-3">location_on</span>地址：台北市中山區南京東路25巷2-1號</p>
              </div>
              <a href="store01.html" class="store-link-a">詳細資料</a>
            </li>
            <li class="mr-6 mb-8">
              <img src="../assets/images/store-2.png" width="416" alt="store-2" />
              <h3>台北綠園店</h3>
              <div class="store-text">
                <p><span class="material-symbols-outlined mr-3">call</span>電話：(02)000-2345</p>
                <p><span class="material-symbols-outlined mr-3">schedule</span>營業時間：10:00-21:00</p>
                <p><span class="material-symbols-outlined mr-3">location_on</span>地址：台北市中正區復興南路 132-1 號</p>
              </div>
              <a href="#" class="store-link-a">詳細資料</a>
            </li>
            <li>
              <img src="../assets/images/store-3.png" width="416" alt="store-3" />
              <h3>台中清水旗艦店</h3>
              <div class="store-text">
                <p><span class="material-symbols-outlined mr-3">call</span>電話：(02)000-1234</p>
                <p><span class="material-symbols-outlined mr-3">schedule</span>營業時間：10:00-21:00</p>
                <p><span class="material-symbols-outlined mr-3">location_on</span>地址：台中市清水區經南一路 23 號 8 樓</p>
              </div>
              <a href="#" class="store-link-a">詳細資料</a>
            </li>
            <li class="mr-6">
              <img src="../assets/images/store-4.png" width="416" alt="store-4" />
              <h3>高雄中正形象店</h3>
              <div class="store-text">
                <p><span class="material-symbols-outlined mr-3">call</span>電話：(07)000-2345</p>
                <p><span class="material-symbols-outlined mr-3">schedule</span>營業時間：10:00-21:00</p>
                <p><span class="material-symbols-outlined mr-3">location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓</p>
              </div>
              <a href="#" class="store-link-a">詳細資料</a>
            </li>
            <li class="mr-6">
              <img src="../assets/images/store-5.png" width="416" alt="store-5" />
              <h3>高雄夢時代店</h3>
              <div class="store-text">
                <p><span class="material-symbols-outlined mr-3">call</span>電話：(07)000-1234</p>
                <p><span class="material-symbols-outlined mr-3">schedule</span>營業時間：10:00-21:00</p>
                <p><span class="material-symbols-outlined mr-3">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
              </div>
              <a href="#" class="store-link-a">詳細資料</a>
            </li>
          </ul>
        
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
